.uploadbtn {
    font: inherit;
    color: #FFF;
    width: auto;
    float: left;
    padding: 0px 25px;
    line-height: 45px;
    margin-right: 2.5em;
    overflow: hidden;
    position: relative;
    transition: all 1s;
    cursor: pointer;
    background:#f2625a;
}
.uploadbtn:before {
    left: 48%;
}
.uploadbtn > span {
    display: inline-block;
    transition: all 0.5s;
}
.uploadbtn:before {
    content: "↑";
    position: absolute;
    top: -100%;
    transition: all 0.5s;
}

.uploadbtn:hover:before {
    top: 0px;
}
.uploadbtn:hover > span {
    transform: translateY(300%);
}
