<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hforum.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="com.example.hforum.model.News">
    <id column="news_id" jdbcType="BIGINT" property="newsId" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="news_from" jdbcType="VARCHAR" property="newsFrom" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="for_review_time" jdbcType="TIMESTAMP" property="forReviewTime" />
    <result column="aduit_user_id" jdbcType="BIGINT" property="aduitUserId" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="soldout_time" jdbcType="TIMESTAMP" property="soldoutTime" />
    <result column="soldout_user_id" jdbcType="BIGINT" property="soldoutUserId" />
    <result column="news_thumb" jdbcType="INTEGER" property="newsThumb" />
    <result column="news_status" jdbcType="INTEGER" property="newsStatus" />
    <result column="layout_type" jdbcType="INTEGER" property="layoutType" />
    <result column="aduit_failure_cause" jdbcType="VARCHAR" property="aduitFailureCause" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.hforum.model.News">
    <result column="news_content" jdbcType="LONGVARCHAR" property="newsContent" />
  </resultMap>
  <sql id="Base_Column_List">
    news_id, news_title, news_from, create_time, create_user_id, for_review_time, aduit_user_id, 
    release_time, soldout_time, soldout_user_id, news_thumb, news_status, layout_type, 
    aduit_failure_cause
  </sql>
  <sql id="Blob_Column_List">
    news_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where news_id = #{newsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from news
    where news_id = #{newsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.hforum.model.News">
    insert into news (news_id, news_title, news_from, 
      create_time, create_user_id, for_review_time, 
      aduit_user_id, release_time, soldout_time, 
      soldout_user_id, news_thumb, news_status, 
      layout_type, aduit_failure_cause, news_content
      )
    values (#{newsId,jdbcType=BIGINT}, #{newsTitle,jdbcType=VARCHAR}, #{newsFrom,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, #{forReviewTime,jdbcType=TIMESTAMP}, 
      #{aduitUserId,jdbcType=BIGINT}, #{releaseTime,jdbcType=TIMESTAMP}, #{soldoutTime,jdbcType=TIMESTAMP}, 
      #{soldoutUserId,jdbcType=BIGINT}, #{newsThumb,jdbcType=INTEGER}, #{newsStatus,jdbcType=INTEGER}, 
      #{layoutType,jdbcType=INTEGER}, #{aduitFailureCause,jdbcType=VARCHAR}, #{newsContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.hforum.model.News">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="newsTitle != null">
        news_title,
      </if>
      <if test="newsFrom != null">
        news_from,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="forReviewTime != null">
        for_review_time,
      </if>
      <if test="aduitUserId != null">
        aduit_user_id,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="soldoutTime != null">
        soldout_time,
      </if>
      <if test="soldoutUserId != null">
        soldout_user_id,
      </if>
      <if test="newsThumb != null">
        news_thumb,
      </if>
      <if test="newsStatus != null">
        news_status,
      </if>
      <if test="layoutType != null">
        layout_type,
      </if>
      <if test="aduitFailureCause != null">
        aduit_failure_cause,
      </if>
      <if test="newsContent != null">
        news_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=BIGINT},
      </if>
      <if test="newsTitle != null">
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsFrom != null">
        #{newsFrom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="forReviewTime != null">
        #{forReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aduitUserId != null">
        #{aduitUserId,jdbcType=BIGINT},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldoutTime != null">
        #{soldoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldoutUserId != null">
        #{soldoutUserId,jdbcType=BIGINT},
      </if>
      <if test="newsThumb != null">
        #{newsThumb,jdbcType=INTEGER},
      </if>
      <if test="newsStatus != null">
        #{newsStatus,jdbcType=INTEGER},
      </if>
      <if test="layoutType != null">
        #{layoutType,jdbcType=INTEGER},
      </if>
      <if test="aduitFailureCause != null">
        #{aduitFailureCause,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null">
        #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hforum.model.News">
    update news
    <set>
      <if test="newsTitle != null">
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsFrom != null">
        news_from = #{newsFrom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="forReviewTime != null">
        for_review_time = #{forReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aduitUserId != null">
        aduit_user_id = #{aduitUserId,jdbcType=BIGINT},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldoutTime != null">
        soldout_time = #{soldoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="soldoutUserId != null">
        soldout_user_id = #{soldoutUserId,jdbcType=BIGINT},
      </if>
      <if test="newsThumb != null">
        news_thumb = #{newsThumb,jdbcType=INTEGER},
      </if>
      <if test="newsStatus != null">
        news_status = #{newsStatus,jdbcType=INTEGER},
      </if>
      <if test="layoutType != null">
        layout_type = #{layoutType,jdbcType=INTEGER},
      </if>
      <if test="aduitFailureCause != null">
        aduit_failure_cause = #{aduitFailureCause,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null">
        news_content = #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.hforum.model.News">
    update news
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_from = #{newsFrom,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      for_review_time = #{forReviewTime,jdbcType=TIMESTAMP},
      aduit_user_id = #{aduitUserId,jdbcType=BIGINT},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      soldout_time = #{soldoutTime,jdbcType=TIMESTAMP},
      soldout_user_id = #{soldoutUserId,jdbcType=BIGINT},
      news_thumb = #{newsThumb,jdbcType=INTEGER},
      news_status = #{newsStatus,jdbcType=INTEGER},
      layout_type = #{layoutType,jdbcType=INTEGER},
      aduit_failure_cause = #{aduitFailureCause,jdbcType=VARCHAR},
      news_content = #{newsContent,jdbcType=LONGVARCHAR}
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hforum.model.News">
    update news
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_from = #{newsFrom,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      for_review_time = #{forReviewTime,jdbcType=TIMESTAMP},
      aduit_user_id = #{aduitUserId,jdbcType=BIGINT},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      soldout_time = #{soldoutTime,jdbcType=TIMESTAMP},
      soldout_user_id = #{soldoutUserId,jdbcType=BIGINT},
      news_thumb = #{newsThumb,jdbcType=INTEGER},
      news_status = #{newsStatus,jdbcType=INTEGER},
      layout_type = #{layoutType,jdbcType=INTEGER},
      aduit_failure_cause = #{aduitFailureCause,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
</mapper>